{% extends "block.html.twig" %}

    {% block main %}

        <h1 class="title-encyclopedia">L'Encyclopédie</h1>
            <div class="header-container">
                <p class="header-list">Famille</p>
                <p class="header-list">Courte description</p>
            </div>

        <div>
        {% for category in categories %}
                <ul>
                    <li>
                        <div class="article-list">
                            <h2>
                                <a href="{{ path('front_category_show', {'id' : category.id}) }}"
                                    class="article-link"> {{category.name}} </a>
                            </h2>
                            <h2>Courte description</h2>
                            
                            <div>
                                <button class="update-button">
                                    <a href="{{ path('front_update_category', {'id' : category.id}) }}" class="button-link"> Modifier </a>
                                </button>
                                <button class="delete-button">
                                    <a href="{{ path('front_delete_category', {'id' : category.id}) }}" class="button-link" onclick="return(confirm('Vous êtes sur le point de supprimer cet article. En êtes vous certain ?'))"> Supprimer </a>
                                </button>
                            </div>
                        </div>
                        <hr>
                    </li>
                </ul>
        {% endfor %}
        </div>

        <div>
            <button class="create-button">
                <a href="{{ path('front_create_category') }}">+ Ajouter une catégorie</a>
            </button>
        </div>

    {% endblock %}

