<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Font-css :-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Semi+Condensed:ital,wght@0,100;0,300;1,100&family=Quattrocento:wght@400;700&family=Ultra&family=Yeseva+One&display=swap" rel="stylesheet">
        
        <!-- Style-css -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        <title>Plantoons</title>
    </head>

    <body>


        <header>
            <nav class="navbar">

                <div class="navbar-container">
                    <div class="navbar-title-content">
                        <a href="{{ path('articles_list') }}"><img src="{{ asset('logos/logo-plantoons5.png')}}" alt="80" width="80" height=""></a>
                        <a class="navbar-title" aria-current="page" href="{{ path('articles_list') }}">Plantoons</a>
                    </div>

                    <div class="dropdown">
                        <button class="dropbtn">Menu</button>
                        <div class="dropdown-content">
                        <a href="{{ path('home') }}">Accueil</a>
                        <a href="{{ path('articles_list') }}">Liste des articles</a>
                        <a href="{{ path('categories_list') }}">Liste des familles</a>
                        <a href="{{ path('members_list') }}">Liste des membres</a>
                        </div>
                    </div>
                </div>

            </nav>
        </header>


        <main>
            {% block main %}{% endblock %}
        </main>


        <footer>
            {% block footer %}{% endblock %}
        </footer>


    </body>
</html>
